client/src/main/java/client/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PersonService">
<wsp:Policy wsu:Id="PersonWebServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/PersonService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCatPhoto">
<part name="parameters" element="tns:getCatPhoto"/>
</message>
<message name="getCatPhotoResponse">
<part name="parameters" element="tns:getCatPhotoResponse"/>
</message>
<message name="getPersons">
<part name="parameters" element="tns:getPersons"/>
</message>
<message name="getPersonsResponse">
<part name="parameters" element="tns:getPersonsResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="PersonServiceException">
<part name="fault" element="tns:PersonServiceException"/>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"/>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"/>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<portType name="PersonWebService">
<operation name="getCatPhoto">
<input wsam:Action="http://service/PersonWebService/getCatPhotoRequest" message="tns:getCatPhoto"/>
<output wsam:Action="http://service/PersonWebService/getCatPhotoResponse" message="tns:getCatPhotoResponse"/>
</operation>
<operation name="getPersons">
<input wsam:Action="http://service/PersonWebService/getPersonsRequest" message="tns:getPersons"/>
<output wsam:Action="http://service/PersonWebService/getPersonsResponse" message="tns:getPersonsResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://service/PersonWebService/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://service/PersonWebService/deletePersonResponse" message="tns:deletePersonResponse"/>
<fault message="tns:PersonServiceException" name="PersonServiceException" wsam:Action="http://service/PersonWebService/deletePerson/Fault/PersonServiceException"/>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://service/PersonWebService/updatePersonRequest" message="tns:updatePerson"/>
<output wsam:Action="http://service/PersonWebService/updatePersonResponse" message="tns:updatePersonResponse"/>
<fault message="tns:PersonServiceException" name="PersonServiceException" wsam:Action="http://service/PersonWebService/updatePerson/Fault/PersonServiceException"/>
</operation>
<operation name="createPerson">
<input wsam:Action="http://service/PersonWebService/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://service/PersonWebService/createPersonResponse" message="tns:createPersonResponse"/>
<fault message="tns:PersonServiceException" name="PersonServiceException" wsam:Action="http://service/PersonWebService/createPerson/Fault/PersonServiceException"/>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<wsp:PolicyReference URI="#PersonWebServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCatPhoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersonServiceException">
<soap:fault name="PersonServiceException" use="literal"/>
</fault>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersonServiceException">
<soap:fault name="PersonServiceException" use="literal"/>
</fault>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersonServiceException">
<soap:fault name="PersonServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"/>
</port>
</service>
</definitions>